<ul class='navbar'>
  <li><a href="#/dashboard">Dashboard</a></li>
  <li><a href="#/question/{{qC.question._id}}">See Question Answers</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<h2>{{qC.question.title}}</h2>
<p>{{qC.question.description}}</p>
<br>
<form ng-submit='qC.createAnswer()'>
  <span>Your Answer:</span>
  <br>
  <textarea name="title" rows="8" cols="40" ng-model='qC.answer.title' minLength='5'></textarea>
  <br>
  <span>Supporting details to your answer (optional)</span>
  <br>
  <textarea name="details" rows="8" cols="40" ng-model='qC.answer.details'></textarea>
  <br>
  <input type="submit" name="name" value="Answer">
</form>
